{% load static %}
<!DOCTYPE html>
<html>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block js %}{% endblock %}

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Главная{% endblock %} - DnD5</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'main/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
        {% block style %}{% endblock %}
    </head>

    <body class="container-fluid">
    <div class="container">
        <header class="mb-4">
            <h1 class="display-1 text-center">DnD</h1>
        </header>

        {% include 'layout/menu.html' %}

        <section class="col py-2">
            {% include 'layout/messages.html' %}
            {% block content %}
            {% endblock %}
        </section>

        <footer class="mt-3">
        <p class="text-right font-italic">&copy; Xardas, 2024 г.</p>
        </footer>
    </div>
    </body>
</html>