{% extends "layout/basic.html" %}

{% block title %}Список заклинаний{% endblock %}

{% load static %}
{% block js %}
<script src="{% static 'js/jfind.js' %}"></script>
{% endblock %}

{% block content %}

<form method="get" id="main-form">
    {% include 'forms/spells.html' %}
</form>

<nav aria-label="Page navigation spells">
    <ul class="pagination justify-content-center" id="pagination"></ul>
</nav>
    <div id="id_spells"></div>

<br><br>
<nav aria-label="Page navigation spells footer">
    <div id="id_footer"></div>
</nav>

{% endblock %}
