{% extends "layout/basic.html" %}

{% block title %}Профиль пользователя  {% endblock %}

{% block content %}
{% for character in characters %}
<div class="card border-danger mt-5">
    <div class="card-header bg-light">
        <h5 class="card-title">
            <a href="{% url 'main:view_character' character.character_name %}">{{ character.character_name }}</a>
            &nbsp&nbsp(
            <b>Класс:</b>
            {% for char_class in character.char_classes.all %}
                {{ char_class.name }}
            {% endfor %}&nbsp
            <b>Расса:</b>
            {% for race in character.races.all %}
                {{ race.caption }}
            {% endfor %}&nbsp
            Уровень: {{ character.level }}&nbsp)
        </h5>
    </div>
    <div class="card-body">

            <div class="container">
                <div class="row">
                        <div class="col-3">
                                {% if character.avatar %}
                                    <img src="{{ character.avatar.url }}" class="img-thumbnail" width="150" height="150">
                                {% else %}
                                    <b>Без аватара</b>
                                    <img src="/media/spec/noavatar.png" class="img-thumbnail" width="150" height="150">
                                {% endif %}
                        </div>

                        <div class="col-9">
                                Имя игрока:  {{ character.playername }} <br>
                                Опыт: {{ character.expirence }} <br>
                                Сила: {{ character.strength }} <br>
                                Ловкость : {{ character.dexterity }} <br>
                                Телосложение: {{ character.constitution }} <br>
                                Интеллект: {{ character.intellegence }} <br>
                                Мудрость: {{ character.wisdom }} <br>
                                Харизма: {{ character.chrarisma }} <br>
                        </div>
                </div>
            </div>
    </div>
    <div class="card-footer">
        <a class="badge badge-info" href="{% url 'main:edit_character' character.character_name %}">Редактировать персонажа</a>
        <a class="badge badge-info" href="{% url 'main:export_character' character.character_name %}">Экспорт персонажа</a>
        <a class="badge badge-info" href="{% url 'main:delete_character' character.character_name %}">Удалить персонажа</a>
        &nbsp&nbsp<span class="text-right text-muted">Изменено:  {{ character.modified|date:"d.m.Y H:i:s" }}</span>
    </div>
</div>
{% endfor %}
{% endblock %}
