.idea/
.env
.venv
env/
venv/
ENV/
__pycache__
xardas/xdb.sqlite3
xardas/main/__pycache__/
xardas/xardas/__pycache__/
xardas/main/migrations/
xardas/main/migrations/__pycache__/
xardas/xardas/config.py
xardas/xardas/errors.txt
xardas/media/*
xardas/static/
xardas/main/templates/doc/orig.docx
xardas/db.sqlite3
logon.txt
