.idea/
.env
.venv
env/
venv/
ENV/
__pycache__
ksardas/xdb.sqlite3
ksardas/main/__pycache__/
ksardas/ksardas/__pycache__/
ksardas/main/migrations/
ksardas/main/migrations/__pycache__/
ksardas/ksardas/config.py
ksardas/ksardas/errors.txt
ksardas/media/
ksardas/static/
