{% extends "layout/basic.html" %}

{% block title %}Создание персонажа{% endblock %}

{% block content %}
<h2>Создание персонажа</h2>

<div>
    <form method="post">
        {% csrf_token %}
            <label for="name">Character name: </label>
            <input id="name" type="text" name="name" value="Enter name"><br>

            <label for="playername">Character realname: </label>
            <input id="playername" type="text" name="playername" value="Enter playername"><br>

            <label for="race">Choise character race: </label>
            <select id="race" name="race" size="1">
            {% for race1, race2 in char_races %}
                <option value="{{ race1 }}">{{ race2 }}</option>
            {% endfor %}
            </select><br>

            <label for="char_class">Character Class: </label>
            <select id="char_class" name="char_class" size="1">
            {% for chclass1, chclass2 in char_classes %}
                <option value="{{ chclass1 }}">{{ chclass2 }}</option>
            {% endfor %}
            </select>
            <br>

        <input type="submit" value="Создать">
    </form>
</div>

{% endblock %}
