{% extends "layout/basic.html" %}
{% block title %}Создание персонажа{% endblock %}
{% block content %}

<div class="card border-success mt-5">
    <div class="card-header bg-light">
        <h4 class="card-title">Новый персонаж</h4>
    </div>
    <div class="card-body">
        <div class="row main-form">
            <form class="" method="post" action="#">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Имя персонажа: </label>
                    <input id="name" class="form-control" type="text" name="name" placeholder="Введите имя персонажа">
                </div>

                <div class="form-group">
                    <label for="playername">Имя игрока: </label>
                    <input id="playername" class="form-control" type="text" name="playername" placeholder="Введите имя игрока">
                </div>

                <div class="form-group">
                    <label for="race">Выберите рассу: </label>
                    <select id="race" class="form-control form-control-sm" name="race" size="1">
                        <option value="" disabled selected>Выберите рассу</option>
                        {% for race1, race2 in char_races %}
                            <option value="{{ race1 }}">{{ race2 }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="char_class">Выберите класс: </label>
                    <select id="char_class" class="form-control form-control-sm" name="char_class" size="1">
                        <option value="" disabled selected>Выберите класс</option>
                        {% for chclass1, chclass2 in char_classes %}
                            <option value="{{ chclass1 }}">{{ chclass2 }}</option>
                        {% endfor %}
                    </select>
                </div>

                <input class="btn btn-success" type="submit" value="Создать">
            </form>
        </div>
    </div>
</div>

{% endblock %}
