{% extends "layout/basic.html" %}

{% block title %}Список заклинаний{% endblock %}

{% load static %}
{% block js %}
<script src="{% static 'js/jfind.js' %}"></script>
{% endblock %}

{% block content %}
<form method="get" id="main-form">
    <div class="input-group mt-3 mb-3">
        <input id="id_name" type="text" name="name" class="form-control" placeholder="Введите название заклинания" aria-label="Введите название заклинания" aria-describedby="button-search">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="button-search">Поиск</button>
        </div>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="ritual" name="ritual"{% if spell.is_ritual %}checked{% endif %}>
        <label class="form-check-label" for="ritual">Is ritual</label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="concentrate" name="concentrate"{% if spell.is_concentrate %}checked{% endif %}><Br>
        <label class="form-check-label" for="concentrate">Is contentrate</label>
    </div>

    <div class="container">
        <div class="row">
            <div class="form-group col-md-4">
                <label for="charclasses">Выберите класс персонажа:</label>
                <select multiple class="form-control" id="charclasses" size="12">
                {% for charclass1, charclass2 in charclasses %}
                    <option>{{ charclass1 }}</option>
                {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="spell_levels">Выберите уровень заклинания:</label>
                <select multiple class="form-control" id="spell_levels" size="10">
                {% for level in spell_levels %}
                    <option>{{ level }}</option>
                {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <br>
    <p id="id_findstat"></p>
    <br>
</form>


<div id="id_spells"></div>

{% for spell in spells %}
    <div class="row">
        {% include 'main/spell_content.html' %}
    </div>
{% endfor %}


<div id="pages" align="center">
    {% if spells.has_previous %}
        <a href="?page=1{% if parms %}{{ parms }}{% endif %}">First</a>&nbsp&nbsp
        <a href="?page={{ spells.previous_page_number }}{% if parms %}{{ parms }}{% endif %}">Previous</a>
    {% endif %}
    <span class="current">
        Page {{ spells.number }} of {{ spells.paginator.num_pages }}.
    </span>
    {% if spells.has_next %}
        <a href="?page={{ spells.next_page_number }}{% if parms %}{{ parms }}{% endif %}">Next</a>&nbsp&nbsp
        <a href="?page={{ spells.paginator.num_pages }}{% if parms %}{{ parms }}{% endif %}">Last</a>
    {% endif %}
</div>

{% endblock %}
