{% extends "layout/basic.html" %}

{% load bootstrap4 %}

{% block title %}Список заклинаний{% endblock %}

{% load static %}
{% block js %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="{% static 'js/jfind.js' %}"></script>
{% endblock %}

{% block content %}
 <form method="get">
     {% csrf_token %}
     <label for>Поиск заклинаний(Введите название заклинания):</label>
     <input id="id_name" type="text" name="name" required><br>

     <label for="ritual">Is ritual:</label>
     <input type="checkbox" id="ritual" name="ritual"{% if spell.is_ritual %}checked{% endif %}><Br>

     <label for="concentrate">Is contentrate:</label>
     <input type="checkbox" id="concentrate" name="concentrate"{% if spell.is_concentrate %}checked{% endif %}><Br>

     <div class="form-group">
        <label for="charclasses">Choise character classes:</label>
            <select multiple class="form-control" id="charclasses" size="12">
                 {% for charclass1, charclass2 in charclasses %}
                    <option>{{ charclass1 }}</option>
                  {% endfor %}
            </select>
     </div>

     <br>
     <p id="id_findstat"></p>
     <br>
<!--     <div id="charclasses">-->
<!--         <label for="charclasses">Choise character classes: </label>-->
<!--              <ul>-->
<!--                  {% for charclass1, charclass2 in charclasses %}-->
<!--                    <li><input type="checkbox" name="charclasses" value="{{ charclass1 }}">{{ charclass1 }}</li>-->
<!--                  {% endfor %}-->
<!--              </ul>-->
<!--     </div>-->
     <button id="btn" type="submit">Butt</button>
     <input type="submit" value="Поиск">
 </form>

{% for spell in spells %}
<div>
    <h2>Name: <a href="{% url 'main:edit_spell' spell.id %}">{{ spell.name }}</a></h2><br>
    <a href="{% url 'main:edit_spell' spell.id %}">Редактировать заклинание</a><br>
    level: {{ spell.level }} <br>
    School:  {{ spell.school }} <br>
    Components: {{ spell.components }} <br>
    distance: {{ spell.distance }} <br>
    duration: {{ spell.duration }} <br>
    cast_time : {{ spell.cast_time }} <br>
    description: {{ spell.description }} <br>
    <b>allow for classes:</b><br>
    {% for spc in spell.spell_classes.all %}
    {{ spc.name }}<br>
    {% endfor %}
    <br><br>
</div>
{% endfor %}

<div id="pages" align="center">
    {% if spells.has_previous %}
        <a href="?page=1{% if parms %}{{ parms }}{% endif %}">First</a>&nbsp&nbsp
        <a href="?page={{ spells.previous_page_number }}{% if parms %}{{ parms }}{% endif %}">Previous</a>
    {% endif %}
    <span class="current">
        Page {{ spells.number }} of {{ spells.paginator.num_pages }}.
    </span>
    {% if spells.has_next %}
        <a href="?page={{ spells.next_page_number }}{% if parms %}{{ parms }}{% endif %}">Next</a>&nbsp&nbsp
        <a href="?page={{ spells.paginator.num_pages }}{% if parms %}{{ parms }}{% endif %}">Last</a>
    {% endif %}
</div>

{% endblock %}
