{% extends "layout/basic.html" %}

{% load bootstrap4 %}

{% block title %}Список заклинаний{% endblock %}

{% block content %}

 <form method="get">
     {% csrf_token %}
     <label for="name">Поиск заклинаний(Введите название заклинания):</label>
     <input id="name" type="text" name="name" value=""><br>

     <label for="is_ritual">Is ritual:</label>
     <input type="checkbox" id="is_ritual" name="is_ritual"><Br>

     <input type="submit" value="Поиск" name="do_find">
 </form>

{% for spell in spells %}
<div>
    <h2>Name: {{ spell.name }}</h2><br>
    <a href="{% url 'main:edit_spell' spell.id %}">Редактировать заклинание</a><br>
    level: {{ spell.level }} <br>
    School:  {{ spell.school }} <br>
    Components: {{ spell.components }} <br>
    distance: {{ spell.distance }} <br>
    duration: {{ spell.duration }} <br>
    cast_time : {{ spell.cast_time }} <br>
    description: {{ spell.description }} <br>
    <b>allow for classes:</b><br>
    {% for spc in spell.spell_classes.all %}
    {{ spc.name }}<br>
    {% endfor %}
    <br><br>
</div>
{% endfor %}

<div id="pages" align="center">
    {% if spells.has_previous %}
        <a href="?page=1{% if request.GET.name %}&name={{ request.GET.name }}{% endif %}">First</a>&nbsp&nbsp
        <a href="?page={{ spells.previous_page_number }}{% if request.GET.name %}&name={{ request.GET.name }}{% endif %}">Previous</a>
    {% endif %}
    <span class="current">
        Page {{ spells.number }} of {{ spells.paginator.num_pages }}.
    </span>
    {% if spells.has_next %}
        <a href="?page={{ spells.next_page_number }}{% if request.GET.name %}&name={{ request.GET.name }}{% endif %}">Next</a>&nbsp&nbsp
        <a href="?page={{ spells.paginator.num_pages }}{% if request.GET.name %}&name={{ request.GET.name }}{% endif %}">Last</a>
    {% endif %}
</div>

{% endblock %}
