{% extends "layout/basic.html" %}

{% block title %}Вход{% endblock %}

{% block content %}
<h3>Вход</h3>

{% if user.is_authenticated %}
<p> Вы уже выполнили вход</p>
{% else %}

<form method="post">
    {% csrf_token %}
    <div class="form-group row">
        <label class="col-md-3 col-form-label" for="id_username">Имя пользователя:</label>
        <div class="col-md-6">
            <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username"
                   maxlength="150" class="form-control" placeholder="Имя" title="" required id="id_username">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-3 col-form-label" for="id_password">Пароль:</label>
        <div class="col-md-6">
            <input type="password" name="password" autocomplete="current-password" class="form-control"
                   placeholder="Пароль" title="" required id="id_password">
        </div>
    </div>

    <input type="hidden" name="next" value="{{ next }}">

    <div class="form-group">
        <button class="btn btn-primary" type="submit">Войти</button>
    </div>
</form>
{% endif %}
{% endblock %}