{% extends "layout/basic.html" %}

{% load bootstrap4 %}

{% block title %}Профиль пользователя  {% endblock %}

{% block content %}
<h2>Профиль пользователя {{ user.username }}</h2>

{% if user.first_name and user.last_name %}
<p> Здравствуйте, {{ user.first_name }} {{ user.last_name }}</p>
{% else %}
<p>Здравствуйте!</p>
{% endif %}
Ваши персонажи...
{% for ch in chars %}
<div>
    Name: <a href="{% url 'main:view_character' ch.name %}">{{ ch.name }}</a><br>
    <a href="{% url 'main:edit_character' ch.name %}">Редактировать персонажа</a><br>
    <b>Race:</b>
    {% for race in ch.race.all %}
        {{ race.name }}<br>
    {% endfor %}
    <br>
    <b>Class:</b>
    {% for char_class in ch.char_class.all %}
        {{ char_class.name }}<br>
    {% endfor %}
    <br>
    Playername:  {{ ch.playername }} <br>
    Level: {{ ch.level }} <br>
    Expirence: {{ ch.expirence }} <br>
    Strength: {{ ch.strength }} <br>
    Dexterity : {{ ch.dexterity }} <br>
    Constitution: {{ ch.constitution }} <br>
    Intellegence: {{ ch.intellegence }} <br>
    Wisdom: {{ ch.wisdom }} <br>
    Chrarisma: {{ ch.chrarisma }} <br>
    Modified:  {{ ch.modified }} <br>
    <br><br>
</div>
{% endfor %}
{% endblock %}
