    <div class="form-row mt-1 mb-3">
            <label for="pers_traits">Персональные черты:</label>
            <textarea id="pers_traits" name="pers_traits" class="form-control" maxlength="32" rows="4">{{ form.pers_traits }}</textarea>
    </div>

    <div class="form-row mt-1 mb-3">
            <label for="ideals">Идеалы:</label>
            <textarea id="ideals" name="ideals" class="form-control" maxlength="32" rows="4">{{ form.ideals }}</textarea>
    </div>

    <div class="form-row mt-1 mb-3">
            <label for="bonds">Привязанности:</label>
            <textarea id="bonds" name="bonds" class="form-control" maxlength="32" rows="4">{{ form.bonds }}</textarea>
    </div>

    <div class="form-row mt-1 mb-3">
            <label for="flaws">Пороки:</label>
            <textarea id="flaws" name="flaws" class="form-control" maxlength="32" rows="4">{{ form.flaws }}</textarea>
    </div>

    <div class="form-row mt-1 mb-3">
            <label for="features_traits">Умения и особенности:</label>
            <textarea id="features_traits" name="features_traits" class="form-control" rows="10">{{ form.features_traits }}</textarea>
    </div>
