    <div class="form-row">
            <label for="pers_traits">Персональные черты:</label>
            <textarea id="pers_traits" name="pers_traits" class="form-control" maxlength="32" rows="2">{{ form.pers_traits }}</textarea>
    </div>

    <div class="form-row">
            <label for="ideals">Идеалы:</label>
            <textarea id="ideals" name="ideals" class="form-control" maxlength="32" rows="2">{{ form.ideals }}</textarea>
    </div>

    <div class="form-row">
            <label for="bonds">Привязанности:</label>
            <textarea id="bonds" name="bonds" class="form-control" maxlength="32" rows="2">{{ form.bonds }}</textarea>
    </div>

    <div class="form-row">
            <label for="flaws">Пороки:</label>
            <textarea id="flaws" name="flaws" class="form-control" maxlength="32" rows="2">{{ form.flaws }}</textarea>
    </div>

    <div class="form-row">
        <!-- умения и особенности -->
    </div>
