<div class="container">

    <div class="row">

    <div class="container">
            <div class="row">
            <div class="col-5">
                    {% include 'forms/stats.html' %}
            </div>

            <div class="col-7">
            <!-- Вторая половина первой колонки -->
                <div class="form-row">
                    <label for="inspiration">Вдохновение: </label>
                    <input id="inspiration" class="form-control form-control-sm" type="number" name="inspiration" step="1" min="0" value="{{ form.inspiration }}">
                </div>
                <div class="form-row">
                    <label for="prof_bonus">Бонус мастерства: </label>
                    <input id="prof_bonus" class="form-control form-control-sm" type="number" name="prof_bonus" step="1" min="0" value="{{ form.prof_bonus }}">
                </div>

                <div class="card mt-3 mb-1">
                    <div class="card-body text-dark text-left text-nowrap">
                        {% include 'forms/saving_throws.html' %}
                    </div>
                    <div class="card-footer text-muted">Спасброски</div>
                </div>
            </div>
            <!-- Конец второй половины первой колонки -->

        </div>
    </div>

    </div>

    <div class="row">
            <div class="card mt-3 mb-1">
                <div class="card-body text-dark text-left text-nowrap">
                    <div class="container">
                        {% include 'forms/skills.html' %}
                    </div>
                </div>
                <div class="card-footer text-muted">Навыки</div>
            </div>

            <div class="form-row">
                <label for="psv_perception">Пассивная мудрость (внимательность):</label>
                <input id="psv_perception" class="form-control" type="text" name="psv_perception" value="{{ form.psv_perception }}">
            </div>
            <div class="form-row">
                <label for="profi_languages">Прочие владения и языки:</label>
                <textarea id="profi_languages" name="prof_and_languages" class="form-control" rows="4">{{ form.prof_and_languages }}</textarea>
            </div>
    </div>

</div>