<div class="row">
    <div class="col-3">
        <label for="name">Имя персонажа: </label>
        <input id="name" class="form-control form-control-sm" type="text" name="name" value="{{ form.name }}">
    </div>
    <div class="col-3">
        <label for="level">Уровень: </label>
        <input id="level"  class="form-control form-control-sm" type="number" name="level" step="1" min="0" value="{{ form.level }}">
    </div>
    <div class="col-3">
        <label for="char_history">Предыстория: </label>
        <input id="char_history" class="form-control form-control-sm" type="text" name="char_history" value="{{ form.char_history }}">
    </div>
    <div class="col-3">
        <label for="world_view">Мировозрение: </label>
        <input id="world_view" class="form-control form-control-sm" type="text" name="world_view" value="{{ form.world_view }}">
    </div>
</div>

<div class="row">
    <div class="col-3">
        <label for="playername">Имя игрока: </label>
        <input id="playername" class="form-control form-control-sm" type="text" name="playername" value="{{ form.playername }}">
    </div>
    <div class="col-3">
        <label for="race">Расса персонажа:</label>
        <select id="race" class="form-control form-control-sm" name="char_races" size="1">
        {% for race1,race2 in char_races %}
            <option value="{{ race1 }}"
                    {% if race1 == cur_race %}selected="selected"{% endif %}
            >{{ race2 }}
            </option>
        {% endfor %}
        </select>
    </div>

    <div class="col-3">
        <label for="char_class">Клас персонажа: </label>
        <select id="char_class" class="form-control form-control-sm" name="char_classes" size="1">
        {% for charclass1, charclass2 in char_classes %}
            <option value="{{ charclass1 }}"
                    {% if charclass1 == cur_class %}selected="selected"{% endif %}
            >{{ charclass2 }}</option>
        {% endfor %}
        </select>
    </div>

    <div class="col-3">
        <label for="expirence">Опыт: </label>
        <input id="expirence" class="form-control form-control-sm" type="number" name="expirence" step="1" min="0" value="{{ form.expirence }}">
    </div>
</div>
