<div class="row">
    <div class="col-3">
        <label for="name1">Имя персонажа: </label>
        <input id="name1" class="form-control form-control-sm" type="text" name="name1" value="{{ form.character_name }}" readonly>
    </div>
    <div class="col-3">
        <label for="age">Возраст: </label>
        <input id="age"  class="form-control form-control-sm" type="number" name="age" step="1" min="0" value="{{ form.age }}">
    </div>
    <div class="col-3">
        <label for="height">Рост: </label>
        <input id="height" class="form-control form-control-sm" type="text" name="height" value="{{ form.height }}">
    </div>
    <div class="col-3">
        <label for="weight">Вес: </label>
        <input id="weight" class="form-control form-control-sm" type="text" name="weight" value="{{ form.weight }}">
    </div>
</div>

<div class="row">
    <div class="col-3">
        <label for="playername1">Имя игрока: </label>
        <input id="playername1" class="form-control form-control-sm" type="text" name="playername1" value="{{ form.playername }}" readonly>
    </div>
    <div class="col-3">
        <label for="eyes">Цвет глаз: </label>
        <input id="eyes" class="form-control form-control-sm" type="text" name="eyes" value="{{ form.eyes }}">
    </div>

    <div class="col-3">
        <label for="skin">Цвет кожи: </label>
        <input id="skin" class="form-control form-control-sm" type="text" name="skin" value="{{ form.skin }}">
    </div>

    <div class="col-3">
        <label for="hair">Цвет волос: </label>
        <input id="hair" class="form-control form-control-sm" type="text" name="hair" value="{{ form.hair }}">
    </div>
</div>
