<div class="col-4">

    <label for="char_backstory">Предыстория персонажа:</label>
    <textarea id="char_backstory" name="char_backstory" class="form-control" rows="14">{{ form.char_backstory }}</textarea>

</div>

<div class="col-8">

        <div class="form-row">
            <label for="additional_features_traits">Дополнительные особенности и черты:</label>
            <textarea id="additional_features_traits" name="additional_features_traits" class="form-control" rows="6">{{ form.additional_features_traits }}</textarea>
        </div>
        <div class="form-row">
            <label for="treasure">Сокровища:</label>
            <textarea id="treasure" name="treasure" class="form-control" rows="6">{{ form.treasure }}</textarea>
        </div>

</div>
