<div class="row mb-3">

    <div class="col-3">
        <label for="cur_class">Класс заклинателя: </label>
        <input id="cur_class" class="form-control form-control-sm" type="text" name="cur_class" value="{{ cur_class }} ({{form.name}})" readonly>
    </div>
    <div class="col-3">
        <label for="spell_casting_ability">Характеристика заклинателя: </label>
        <input id="spell_casting_ability" class="form-control form-control-sm" type="text" name="spell_casting_ability" value="{{ form.spell_casting_ability }}">
    </div>
    <div class="col-3">
        <label for="spell_save_dc">DC спасброска от заклинания: </label>
        <input id="spell_save_dc" class="form-control form-control-sm" type="text" name="spell_save_dc" value="{{ form.spell_save_dc }}">
    </div>
    <div class="col-3">
        <label for="spell_attack_bonus">Бонус к атаке заклинанием: </label>
        <input id="spell_attack_bonus" class="form-control form-control-sm" type="text" name="spell_attack_bonus" value="{{ form.spell_attack_bonus }}">
    </div>

</div>

<div class="row mb-3">

        <div class="col-6">

            <div class="card">
                    <div class="card-header">Доступные заклинания:</div>
                    <div class="card-body text-dark">
                        <select id="spells" class="custom-select" name="spells" size="5" multiple>
                        {% for spellname in spells %}
                            <option value="{{ spellname }}">{{ spellname }}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <div class="card-footer text-muted">
                            <input type="submit" class="btn btn-primary" value="Добавить заклинание" name="do_addspell">
                            <input type="submit" class="btn btn-primary" value="Удалить заклинание" name="do_delspell">
                    </div>
            </div>

        </div>

        <div class="col-6">

        </div>

</div>


