<div class="row">

    <div class="col-4">

                <table id="id_table" class="table table-sm table-striped table-bordered">
                        <tr class="table-danger">
                            <td colspan="2">
                                <p class="text-sm">Уровень заклинания: 0</p>
                            </td>
                        </tr>
                        <tr class="table-info">
                                <th scope="col">#</th>
                                <th scope="col">Заклинание</th>
                        </tr>
                        <tr>
                                <td>#</td>
                                <td></td>
                        </tr>
                </table>


                <div class="card mt-1 mb-3">
                        <div class="card-header text-muted">Уровень заклинания: 1</div>
                        <div class="card-body text-dark">
                                текст
                        </div>
                </div>

                <div class="card mt-1 mb-3">
                        <div class="card-header text-muted">Уровень заклинания: 2</div>
                        <div class="card-body text-dark">
                                текст
                        </div>
                </div>


    </div>

    <div class="col-4">

    </div>

    <div class="col-4">

    </div>

</div>