<div class="form-check">
    <input id="st_strength_box" name="st_strength_box" type="checkbox" value="True" {% if form.st_strength_box %}checked{% endif %}>
    <label class="form-check-label" for="st_strength_box">Сила</label>
</div>

<div class="form-check">
    <input id="st_dexterity_box" name="st_dexterity_box" type="checkbox" value="True" {% if form.st_dexterity_box %}checked{% endif %}>
    <label class="form-check-label" for="st_dexterity_box">Ловкость</label>
</div>

<div class="form-check">
    <input id="st_constitution_box" name="st_constitution_box" type="checkbox" value="True" {% if form.st_constitution_box %}checked{% endif %}>
    <label class="form-check-label" for="st_constitution_box">Телосложение</label>
</div>

<div class="form-check">
    <input id="st_intellegence_box" name="st_intellegence_box" type="checkbox" value="True" {% if form.st_intellegence_box %}checked{% endif %}>
    <label class="form-check-label" for="st_intellegence_box">Интеллект</label>
</div>

<div class="form-check">
    <input id="st_wisdom_box" name="st_wisdom_box" type="checkbox" value="True" {% if form.st_wisdom_box %}checked{% endif %}>
    <label class="form-check-label" for="st_wisdom_box">Мудрость</label>
</div>

<div class="form-check">
    <input id="st_chrarisma_box" name="st_chrarisma_box" type="checkbox" value="True" {% if form.st_chrarisma_box %}checked{% endif %}>
    <label class="form-check-label" for="st_chrarisma_box">Харизма</label>
</div>
