<div class="row">
        <div class="col-6 pl-0 pr-0">

                <div class="form-check pl-0 pr-0">
                    <input id="acrobatics_box" name="acrobatics_box" type="checkbox" value="True" {% if form.acrobatics_box %}checked{% endif %}>
                    <label class="form-check-label" for="acrobatics_box">Акробатика(лов)</label>
                </div>

                <div class="form-check pl-0 pr-0">
                    <input class="big-checkbox" id="animal_box" name="animal_box" type="checkbox" value="True" {% if form.animal_box %}checked{% endif %}>
                    <label class="form-check-label" for="animal_box">Уход за животными(мдр)</label>
                </div>

                <div class="form-check pl-0 pr-0">
                    <input id="arcana_box" name="arcana_box" type="checkbox" value="True" {% if form.arcana_box %}checked{% endif %}>
                    <label class="form-check-label" for="arcana_box">Магия(инт)</label>
                </div>

                <div class="form-check pl-0 pr-0">
                    <input id="athletics_box" name="athletics_box" type="checkbox" value="True" {% if form.athletics_box %}checked{% endif %}>
                    <label class="form-check-label" for="athletics_box">Атлетика(сил)</label>
                </div>

                <div class="form-check pl-0 pr-0">
                    <input id="deception_box" name="deception_box" type="checkbox" value="True" {% if form.deception_box %}checked{% endif %}>
                    <label class="form-check-label" for="deception_box">Обман(хар)</label>
                </div>

                <div class="form-check pl-0 pr-0">
                    <input id="history_box" name="history_box" type="checkbox" value="True" {% if form.history_box %}checked{% endif %}>
                    <label class="form-check-label" for="history_box">История(инт)</label>
                </div>

                <div class="form-check pl-0 pr-0">
                    <input id="insight_box" name="insight_box" type="checkbox" value="True" {% if form.insight_box %}checked{% endif %}>
                    <label class="form-check-label" for="insight_box">Проницательность(мдр)</label>
                </div>

                <div class="form-check pl-0 pr-0">
                    <input id="intimidation_box" name="intimidation_box" type="checkbox" value="True" {% if form.intimidation_box %}checked{% endif %}>
                    <label class="form-check-label" for="intimidation_box">Запугивание(хар)</label>
                </div>

                <div class="form-check pl-0 pr-0">
                    <input id="investigation_box" name="investigation_box" type="checkbox" value="True" {% if form.investigation_box %}checked{% endif %}>
                    <label class="form-check-label" for="investigation_box">Расследование(инт)</label>
                </div>

        </div>

        <div class="col-6">

                <div class="form-check pl-0 pr-0">
                    <input id="nature_box" name="nature_box" type="checkbox" value="True" {% if form.nature_box %}checked{% endif %}>
                    <label class="form-check-label" for="nature_box">Природа(инт)</label>
                </div>

                <div class="form-check pl-0 pr-0">
                    <input id="performance_box" name="performance_box" type="checkbox" value="True" {% if form.performance_box %}checked{% endif %}>
                    <label class="form-check-label" for="performance_box">Выступление(хар)</label>
                </div>

                <div class="form-check pl-0 pr-0">
                    <input id="medicine_box" name="medicine_box" type="checkbox" value="True" {% if form.medicine_box %}checked{% endif %}>
                    <label class="form-check-label" for="medicine_box">Медицина(мдр)</label>
                </div>

                <div class="form-check pl-0 pr-0">
                    <input id="perception_box" name="perception_box" type="checkbox" value="True" {% if form.perception_box %}checked{% endif %}>
                    <label class="form-check-label" for="perception_box">Внимательность(мдр.)</label>
                </div>

                <div class="form-check pl-0 pr-0">
                    <input id="persuasion_box" name="persuasion_box" type="checkbox" value="True" {% if form.persuasion_box %}checked{% endif %}>
                    <label class="form-check-label" for="persuasion_box">Убеждение(хар)</label>
                </div>

                <div class="form-check pl-0 pr-0">
                    <input id="religion_box" name="religion_box" type="checkbox" value="True" {% if form.religion_box %}checked{% endif %}>
                    <label class="form-check-label" for="religion_box">Религия(инт)</label>
                </div>

                <div class="form-check pl-0 pr-0">
                    <input id="sleight_of_hand_box" name="sleight_of_hand_box" type="checkbox" value="True" {% if form.sleight_of_hand_box %}checked{% endif %}>
                    <label class="form-check-label" for="sleight_of_hand_box">Ловкость рук(лов)</label>
                </div>

                <div class="form-check pl-0 pr-0">
                    <input id="stealth_box" name="stealth_box" type="checkbox" value="True" {% if form.stealth_box %}checked{% endif %}>
                    <label class="form-check-label" for="stealth_box">Скрытность(лов)</label>
                </div>

                <div class="form-check pl-0 pr-0">
                    <input id="survival_box" name="survival_box" type="checkbox" value="True" {% if form.survival_box %}checked{% endif %}>
                    <label class="form-check-label" for="survival_box">Выживание(мдр)</label>
                </div>
        </div>

</div>