<div class="container">

        <div class="row align-items-center">

                <div class="col-7">
                    <div class="input-group mt-3 mb-3">
                        <input id="id_name" type="text" name="name" class="form-control form-control-sm" placeholder="Введите название заклинания" aria-label="Введите название заклинания" aria-describedby="button-search">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary btn-sm" type="submit" id="button-search">Поиск</button>
                        </div>
                    </div>
                </div>

                <div class="col-2">
                </div>

                <div class="col">
                    <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="id_ritual" name="ritual" {% if spell.is_ritual %}checked{% endif %}>
                            <label class="form-check-label" for="id_ritual">С имспользованием ритуала</label>
                    </div>
                </div>

        </div>


        <!-- Уровень, школа, класс, концентрация, ритуал -->
        <div class="row mt-1 mb-3">

                <div class="col">
                    <label for="id_spell_levels">Уровень заклинания:</label>
                    <select class="form-control form-control-sm" id="id_spell_levels">
                        <option value="">Все уровни</option>
                        {% for level in spell_levels %}
                            <option>{{ level }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col">
                    <label for="id_spell_classes">Класс заклинания:</label>
                    <select class="form-control form-control-sm" id="id_spell_classes">
                        <option value="">Все классы</option>
                        {% for cl_name, cl_caption in spell_classes %}
                            <option>{{ cl_name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col">
                    <label for="id_spell_schools">Школа заклинания:</label>
                    <select class="form-control form-control-sm" id="id_spell_schools">
                        <option value="">Все школы</option>
                        {% for school_id, school_name in spell_schools %}
                            <option value="{{ school_id }}">{{ school_name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col">
                    <label for="id_concentrate">Концентрация:</label>
                    <select class="form-control form-control-sm" id="id_concentrate">
                        <option value=""></option>
                        <option value="True">Концентрация</option>
                        <option value="False">Без концентрации</option>
                    </select>
                </div>

        </div>

    <div class="row">
        <div class="col">
                    <div id="id_status"></div>
        </div>
    </div>

</div>

