<div class="form-row">
    <div class="form-group col-sm-6">
        <label for="strength">Сила: </label>
        <input id="strength" class="form-control form-control-sm" type="number" name="strength" step="1" min="0" value="{{ form.strength }}">
    </div>
    <div class="form-group col-sm-6">
        <label for="strength_modifier">мдф.: </label>
        <input id="strength_modifier" class="form-control form-control-sm" type="number" name="strength_modifier" step="1" min="0" value="{{ form.strength_modifier }}">
    </div>
</div>

<div class="form-row">
    <div class="form-group col-sm-6">
        <label for="dexterity">Ловкость: </label>
        <input id="dexterity" class="form-control form-control-sm" type="number" name="dexterity" step="1" min="0" value="{{ form.dexterity }}">
    </div>
    <div class="form-group col-sm-6">
        <label for="dexterity_modifier">мдф.: </label>
        <input id="dexterity_modifier" class="form-control form-control-sm" type="number" name="dexterity_modifier" step="1" min="0" value="{{ form.dexterity_modifier }}">
    </div>
</div>

<div class="form-row">
    <div class="form-group col-sm-6">
        <label for="constitution">Телосл.: </label>
        <input id="constitution" class="form-control form-control-sm" type="number" name="constitution" step="1" min="0" value="{{ form.constitution }}">
    </div>
    <div class="form-group col-sm-6">
        <label for="constitution_modifier">мдф.: </label>
        <input id="constitution_modifier" class="form-control form-control-sm" type="number" name="constitution_modifier" step="1" min="0" value="{{ form.constitution_modifier }}">
    </div>
</div>

<div class="form-row">
    <div class="form-group col-sm-6">
        <label for="intellegence">Интеллект: </label>
        <input id="intellegence" class="form-control form-control-sm" type="number" name="intellegence" step="1" min="0" value="{{ form.intellegence }}">
    </div>
    <div class="form-group col-sm-6">
        <label for="intellegence_modifier">мдф.: </label>
        <input id="intellegence_modifier" class="form-control form-control-sm" type="number" name="intellegence_modifier" step="1" min="0" value="{{ form.intellegence_modifier }}">
    </div>
</div>

<div class="form-row">
    <div class="form-group col-sm-6">
        <label for="wisdom">Мудрость: </label>
        <input id="wisdom" class="form-control form-control-sm" type="number" name="wisdom" step="1" min="0" value="{{ form.wisdom }}">
    </div>
    <div class="form-group col-sm-6">
        <label for="wisdom_modifier">мдф.: </label>
        <input id="wisdom_modifier" class="form-control form-control-sm" type="number" name="wisdom_modifier" step="1" min="0" value="{{ form.wisdom_modifier }}">
    </div>
</div>

<div class="form-row">
    <div class="form-group col-sm-6">
        <label for="chrarisma">Харизма: </label>
        <input id="chrarisma" class="form-control form-control-sm" type="number" name="chrarisma" step="1" min="0" value="{{ form.chrarisma }}">
    </div>
    <div class="form-group col-sm-6">
        <label for="chrarisma_modifier">мдф.: </label>
        <input id="chrarisma_modifier" class="form-control form-control-sm" type="number" name="chrarisma_modifier" step="1" min="0" value="{{ form.chrarisma_modifier }}">
    </div>
</div>