<nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="{% url 'main:index' %}">Главная страница</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">

              {% if user.is_authenticated %}
              <ul class="navbar-nav mr-auto">

                  <li class="nav-item active"><a class="nav-link" href="{% url 'main:profile' %}">Мои персонажи</a></li>
                  <li class="nav-item active"><a class="nav-link" href="{% url 'main:create_character' %}">Создать персонажа</a></li>
                  <li class="nav-item active"><a class="nav-link" href="{% url 'main:find_spells' %}">Поиск заклинаний</a></li>
                  <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                        href="#" role="button" aria-haspopup="true"
                        aria-expanded="false">Профиль</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'main:profile' %}">Мои персонажи</a>
                            <a class="dropdown-item" href="{% url 'main:profile_change' %}">
                            Изменить личные данные</a>
                            <a class="dropdown-item" href="{% url 'main:password_change' %}">
                            Изменить пароль</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'main:logout' %}">Выйти</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'main:profile_delete' %}">Удалить</a>
                        </div>
                  </li>
              </ul>
              <a class="nav-link disabled" href="{% url 'main:register' %}">[ Регистрация ]</a>
              <a class="nav-link disabled" href="{% url 'main:login' %}">[ Вход ]</a>
              <a class="nav-link" href="{% url 'main:logout' %}">[ Выйти ]</a>
              {% else %}
              <a class="nav-link" href="{% url 'main:register' %}">[ Регистрация ]</a>
              <a class="nav-link" href="{% url 'main:login' %}">[ Вход ]</a>
              {% endif %}
          </div>
</nav>